<section id="userBookings">
  <h1 class="page-title">Moje rezerwacje</h1>
  <div class="row">
    <ng-container *ngIf="bookings && bookings.length > 0">
      <div *ngFor="let booking of bookings; let i = index" class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            {{booking.rental ? booking.rental.category : 'Deleted Rental'}}
          </div>
          <div class="card-block">
            <ng-container *ngIf="booking.rental">
              <h4 class="card-title">{{booking.rental.title}} - {{booking.rental.city}} </h4>
            </ng-container>
            <p class="card-text booking-days"> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} | {{booking.days}} dni</p>
            <p class="card-text"><span>Cena: </span> <span class="booking-price-value">{{booking.totalPrice}} PLN</span></p>
            <a *ngIf="booking.rental" class="btn btn-ago" routerLink="/rentals/{{booking.rental._id}}">Idź do przedmiotu</a>
          </div>
          <div class="card-footer text-muted">
            Rezerwacja stworzona {{booking.createdAt | formatDate}}
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="bookings && bookings.length === 0" class="alert alert-warning">
      Nie masz żadnych rezerwacji
      <a class="btn btn-ago" routerLink="#">Przejdż do listy przedmiotów</a>
    </div>
  </div>
</section>