<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/rentals">Wypożycz.to</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 ago-search" type="search" placeholder="Szukaj" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-ago-search" type="submit">Szukaj
    </button>
      </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ng-container *ngIf="!auth.isAuthenticated()">
          <div class="navbar-nav ml-auto">
              <a *ngIf="!auth.isAuthenticated()" class="nav-item nav-link active" routerLink="/login">Logowanie<span class="sr-only">(current)</span></a>
              <a *ngIf="!auth.isAuthenticated()" class="nav-item nav-link" routerLink="/register">Rejestracja</a>
            </div>
      </ng-container> 
    <ng-container *ngIf="auth.isAuthenticated()">     
      <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link">{{auth.getUsername()}}</a>
        <a class="nav-item nav-link" (click)="logout()">Wyloguj</a>
      </div>
    </ng-container> 
    </div>
  </nav>