@import 'variables';

.navbar {
    padding: 20px;
    margin-bottom: 40px;
    border: 0.5px solid $borders-inactive-color;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.18);
  
  
    .ago-search {
      height: 50px;
      width: 300px;
      background: #F9F9F9;
      border-radius: 6px;
    }
  
  
    .navbar-brand {
      margin-right: 30px;
      font-size: 30px;
      letter-spacing: 1px;
      color: $main-color;
      font-weight: 500;
    }
  
  
    .nav-item {
      font-size: 16px;
    }
  
  
    .btn-ago-search {
      border-radius: 24px;
      background: $main-color;
      border-color:$main-color;
      color:#ffffff;
      width: 120px;
      
  
  
      &:hover, &:focus, &:active {
        box-shadow: 4px 4px 4px rgba(0,0,0,0.18);
      }
    }

    .dropdown-item {
      font-size: 14px;
    }
  }
  .bg-light {
    background-color: #ffffff!important;
}