<section id="workshopDetails" *ngIf="workshop">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{workshop.image}}" alt="">
      </div>
      <div class="col-md-6">
        <!-- Will be replaced with map !!!! -->
        <img src="{{workshop.image}}" alt="">
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="workshop">
          <h2 class="workshop-type {{workshop.category}}">{{workshop.category}}</h2>
          <h1 class="workshop-title">{{workshop.title}}</h1>
          <h2 class="workshop-city">{{workshop.city}}</h2>
          <div class="workshop-room-info">
            <span><i class="fa fa-money-bill-wave"></i>{{workshop.price}} zł</span>
            <span><i class="fa fa-clock"></i> {{workshop.duration}} </span>
            <span><i class="fa fa-user"></i> {{workshop.maxNumberOfAtendees}} atendees</span>
            
          </div>
          <p class="workshop-description">
            {{workshop.description}}
          </p>
          <hr>
        </div>
      </div>
      <div class="col-md-4"> BOOKING</div>
    </div>
  </div>
</section>
