<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-6">
        <ago-map [location]="rental.city + ', ' + rental.street"></ago-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h2 class="rental-type {{rental.category}}">{{rental.category}}</h2>
          <h1 class="rental-title">{{rental.title}}</h1>
          <h2 class="rental-city">{{rental.city}}</h2>
          <div class="rental-room-info">
            <span><i class="fa fa-money-bill-wave"></i>{{rental.price}} zł</span>
            
          </div>
          <p class="rental-description">
            {{rental.description}}
          </p>
          <hr>
        </div>
      </div>
      <div class="col-md-4"> 
        <ago-rental-detail-booking 
        [rental]="rental">
      </ago-rental-detail-booking>
      </div>
    </div>
  </div>
</section>
